<div><input type="hidden" id="offeridInput" /><input type="hidden" id="xtextInput" /><input type="hidden" id="owneridInput" /><input type="hidden" id="contactidInput" /><input type="hidden" id="refidInput" /><input type="hidden" id="probabilityInput" /><input type="hidden" id="withvatInput" /><input type="hidden" id="lumpsumInput" /><input type="hidden" id="refiscompanyInput" /></div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="offernumberLabel"></span><input size="16" type="text" id="offernumberInput" /></div>
     <div class=inputsingle><span id="descriptionLabel"></span><input type="text" id="descriptionInput"/></div>
     <div class=inputsingle><span id="refnameLink"></span><span id="refnameOutput"></span></div>
     <div class=inputsingle><span id="versionLabel"></span><input size="5" type="text" id="versionInput" /></div>
     <div class=inputsingle><span id="contactnameLabel"></span><span id="contactnameOutput"></span></div>
     <div class=inputsingle><span id="ownernameLabel"></span><span id="ownernameOutput"></span></div>
     <div class=inputsingle><span id="languageLabel"></span><select id="languageInput" ></select></div>
   </div>
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span class="label">zweite Palette</span><input type="checkbox" id="viewCheckbox"/></div>
  </div>
</div>

