<div><input type="hidden" id="producttimeidInput" /><input type="hidden" id="productidInput" /></div>
<div class="inputarea">
  <div class="inputgroup fullheight">
        <div class=inputsingle><span id="nameLabel"></span><span id="nameOutput"></span></div>
        <div class=inputsingle><span id="skilltextLabel"></span><select id="skillidInput"></select></div>
        <div class=inputsingle><span id="durationLabel"></span><input type="text" id="durationInput" /></div>
        <div class=inputsingle><span id="stepLabel"></span><input type="text" id="stepInput" /></div>
        <div class=inputsingle><span id="descriptionLabel"></span><input type="text" id="descriptionInput"/></div>
        <div class=inputsingle><span id="longdescLabel" class='multiheight'></span><span id="longdescEditor" aria-multiline="true"></span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
