<div class='inputhidden'>
  <input type="hidden" id="personowndataidInput" />
  <input type="hidden" id="personidInput" />
  <input type="hidden" id="companyownInput" />
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="fullnameLabel"></span><span id="fullnameOutput"></span></div>
    <div class=inputsingle><span id="loginnameLabel"></span><input type="text" id="loginnameInput"/></div>
    <div class=inputsingle><span id="validuntilLabel"></span><input type="text" id="validuntilInput"/></div>
    <div class=inputsingle><span id="colorLabel"></span><input type="text" id="colorInput" class="color" spellcheck="false"/></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="activeLabel"></span><input type="checkbox" id="activeInput"/></div>
    <div class=inputsingle><span id="canloginLabel"></span><input type="checkbox" id="canloginInput"/></div>
    <div class=inputsingle><span id="unitcostLabel"></span><div class='contain-unit'><input type="text" id="unitcostInput"/> <span id="currencyOutput"> </span></div></div>
    <div class=inputsingle><span id="wtimeLabel"> </span><input type="text" id="wtimeInput"/></div>
  </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
