<input type="hidden" id="imapmailboxidInput" />
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="serverLabel"></span><input type="text" id="serverInput" /></div>
        <div class=inputsingle><span id="loginLabel"></span><input type="text" id="loginInput" /></div>
        <div class=inputsingle><span id="passwdLabel"></span><input type="password" id="passwdInput" /></div>
        <div class=inputsingle><span id="passwdcheckLabel"></span><input type="password" id="passwdcheckInput" /></div>
   </div>
</div>
<div class="inputarea resize nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
