<div class="inputhidden">
  <input type="hidden" id="partidInput" /><input type="hidden" id="treeidInput" /><input type="hidden" id="treeparentidInput" /><input type="hidden" id="partnameInput" />
</div>
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="treeparentnameLabel"></span><span id="treepathOutput"></span></div>
        <div class=inputsingle><span id="partLabel"></span><input type="text" id="partInput" /></div>
        <div class=inputsingle><span id="parttypeLabel"></span><input type="text" id="parttypeInput" /></div>
        <div class=inputsingle><span id="mincountLabel"></span><span id="mincountOutput"></span></div>
        <div class=inputsingle><span id="sumLabel"></span><span id="sumOutput"></span><span id="relocationcountLabel"></span><span id="relocationcountOutput"></span></div>
        <div class=inputsingle><span id="ordercountLabel"></span><span id="ordercountOutput"></span><span id="rcountLabel"></span><span id="rcountOutput"></span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
