 <input type="hidden" id="partstoragemasterdataidInput" />
 <input type="hidden" id="partidInput" />
 <div class="inputarea">
  <div class="inputgroup">
       <div class=inputsingle><span id="partnameLabel"></span><span id="partnameOutput"></span></div>
        <div class=inputsingle><span id="mincountLabel"></span><input type="text" id="mincountInput" size="5"/></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
