<div class="inputhidden">
  <input type="hidden" id="partsubpartidInput" /><input type="hidden" id="partidInput" /><input type="hidden" id="subpartidInput" />
</div>
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="nameLabel"></span><span id="nameOutput"></span></div>
        <div class=inputsingle><span id="countLabel"></span><input id="countInput" size=5/></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
