<input type='hidden' id="countryidInput"/>
<div class="inputarea">
  <div class="inputgroup">
     <input type="hidden" id="cityidInput"/>
     <div class=inputsingle><span id="nameLabel"></span><input style="width: 30em;" type="text" id="nameInput"/></div>
     <div class=inputsingle><span id="postcodeLabel"></span><input style="width: 5em" type="text" id="postcodeInput" /></div>
     <div class=inputsingle><span id="countryLabel"></span><span id="countryOutput" ></span></div>
   </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span> 
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

