<div class="inputarea">
  <div class="inputgroup">
      <input type="hidden" id="countryidInput"/>
          <div class=inputsingle><span>&nbsp;</span><span id="title_de"></span><span id="title_en"></span></div>
          <div class=inputsingle><span id="nameLabel"></span><span id="nameOutput" /></span></div>
          <div class=inputsingle><span id="name_deLabel"></span><input type="text" id="name_deInput"/><span id="name_enLabel"></span><input type="text" id="name_enInput" /></div>
          <div class=inputsingle><span id="continentLabel"></span><span id="continentOutput"></span></div>
          <div class=inputsingle><span id="continent_deLabel"></span><input type="text" id="continent_deInput" /><span id="continent_enLabel"></span><input type="text" id="continent_enInput" /></div>
          <div class=inputsingle><span id="countrycarcodeLabel"></span><input type="text" id="countrycarcodeInput" size="2" /></div>
          <div class=inputsingle><span id="phoneprefixLabel"></span><input type="text" id="phoneprefixInput" size="4"/></div>
   </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span> 
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
