<div class="inputarea">
  <div class="inputgroup">
      <input type="hidden" id="refidInput" />
      <input type="hidden" id="addressidInput" />
      <input type="hidden" id="cityidInput" />
        <div class=inputsingle><span id="addresstypidLabel"></span><select id="addresstypidInput"></select></div>
        <div class=inputsingle><span id="streetLabel"></span><input type="text" id="streetInput" /></div>
        <div class=inputsingle><span id="postboxLabel"></span><input type="text" id="postboxInput" /></div>
        <div class=inputsingle><span id="cityLabel"></span><div class='ele-wrapper'><span id="postcodeOutput"></span>&nbsp;<span id="cityOutput"></span></div></div>
        <div class=inputsingle><span id="countryLabel"></span><span id="countryOutput"></span></div>
   </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span> 
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
