<input type="hidden" id="usernameInput" />
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="usernameLabel"></span><span id="usernameOutput"></span></div>
        <div class=inputsingle><span id="timeautoLabel"></span><input type="checkbox" id="timeautoInput" /></div>
        <div class=inputsingle><span id="timecheckoverlapLabel"></span><input type="checkbox" id="timecheckoverlapInput" /></div>
        <div class=inputsingle><span id="dayreportautotabLabel"></span><input type="checkbox" id="dayreportautotabInput" /></div>
   </div>
</div>
