<input type="hidden" id="storageidInput" />
<div class="inputarea">
  <div class="inputgroup">
        <div class="inputsingle head"><span class="label"></span><span>#mne_lang#Kurzbezeichnung</span><span></span><span>#mne_lang#Anzahl#</span></div>
        <div class=inputsingle><span class="label" id="xnameOutput"></span><input type="text" id="xsnameInput"/><span></span><input type="text" id="xcountInput" /></div>
        <div class=inputsingle><span class="label" id="ynameOutput"></span><input type="text" id="ysnameInput"/><span></span><input type="text" id="ycountInput" /></div>
        <div class=inputsingle><span class="label" id="znameOutput"></span><input type="text" id="zsnameInput"/><span></span><input type="text" id="zcountInput" /></div>
   </div>
</div>
