      <input type="hidden" id="partingoingidInput" />
      <input type="hidden" id="partstoragelocationidInput" />
      <input type="hidden" id="storagelocationidInput" />
      <input type="hidden" id="oldstoragelocationidInput" />
      <input type="hidden" id="purchasedeliveryidInput" />
      <input type="hidden" id="partidInput" />
      <input type="hidden" id="partnameInput" />
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="deliverynotenumberLink"></span><span id="deliverynotenumberOutput"></span></div>
    <div class=inputsingle><span id="storageidLabel"></span><select id="storageidInput" ></select></div>
    <div class=inputsingle><span id="storagelocationLabel"></span><span id="storagelocationnameOutput"></span></div>
    <div class=inputsingle><span id="partnameLink"></span><span id="partnameOutput"></span></div>
    <div class=inputsingle><span id="countLabel"></span><span id="countOutput"></span></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="stockedLabel"></span><span id="stockedOutput"></span></div>
    <div class=inputsingle><span id="deliverydateLabel"></span><span id="deliverydateOutput"></span></div>
    <div class=inputsingle><span id="rvendorLabel"></span><span id="rvendorOutput"></span></div>
    <div class=inputsingle><span></span><span></span></div>
    <div class=inputsingle><span id="rcountLabel"></span><span id="rcountOutput"></span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

