<input type="hidden" id="storageidInput" />
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="xtimeLabel"></span><input type="text" id="xtimeInput" /></div>
        <div class=inputsingle><span id="ytimeLabel"></span><input type="text" id="ytimeInput" /></div>
        <div class=inputsingle><span id="ztimeLabel"></span><input type="text" id="ztimeInput" /></div>
        <div class=inputsingle><span id="stockposLabel"></span><input type="text" id="stockposInput" /></div>
        <div class=inputsingle><span id="releaseposLabel"></span><input type="text" id="releaseposInput" /></div>
   </div>
</div>
