  <input type="hidden" id="partoutgoingidInput" />
  <input type="hidden" id="partidInput" />
  <input type="hidden" id="orderproductpartidInput" />
  <input type="hidden" id="spartstoragelocationidInput" />
  <input type="hidden" id="outstoragelocationidInput" />
  <input type="hidden" id="personidInput" />
  <input type="hidden" id="relocationidInput" />
  <input type="hidden" id="storagelocationidInput" />
  <input type="hidden" id="partstoragelocationidInput" />
  <div class="inputarea">
    <div class="inputgroup">
      <div class=inputsingle><span id="partnameLabel"></span><span id="partnameOutput"></span></div>
      <div class=inputsingle><span id="outstorageidLabel"></span><select id="outstorageidInput" ></select></div>
      <div class=inputsingle><span id="outstoragelocationnameLabel"></span><span id="outstoragelocationnameOutput"></span></div>
      <div class=inputsingle><span id="countLabel"></span><input type="text" id="countInput" size=4 /></div>
      <div class=inputsingle><span id="storagelocationnameLabel"></span><span id="storagelocationnameOutput"></span></div>
      <div class=inputsingle><span id="fullnameLabel"></span><span id="fullnameOutput"></span></div>
    </div>
    <div class="inputgroup">
      <div class=inputsingle><span id="partoutgoingLabel"></span><span id="partoutgoingOutput"></span></div>
      <div class=inputsingle><span id="ordernumberLabel"></span><span id="ordernumberOutput"></span></div>
      <div class=inputsingle><span id="orderdescriptionLabel"></span><span id="orderdescriptionOutput"></span></div>
      <div class=inputsingle><span id="customerLabel"></span><span id="customerOutput"></span></div>
      <div class=inputsingle><span id="orderproductnameLabel"></span><span id="orderproductnameOutput"></span></div>
      <div class=inputsingle><span id="orderpartdescriptionLabel"></span><span id="orderpartdescriptionOutput"></span></div>
    </div>
    <div class="inputgroup">
      <div class=inputsingle><span id="swapedLabel"></span><span id="swapedOutput"></span></div>
      <div class=inputsingle><span id="fetchedLabel"></span><span id="fetchedOutput"></span></div>
      <div class=inputsingle><span id="requestdateLabel"></span><span id="requestdateOutput"></span></div>
      <div class=inputsingle><span id="fetchdateLabel"></span><span id="fetchdateOutput"></span></div>
      <div class=inputsingle><span></span><span></span></div>
      <div class=inputsingle><span></span><span></span></div>
    </div>
</div>
