    <input type="hidden" id="relocationidInput" />
    <input type="hidden" id="personidInput" />
    <input type="hidden" id="partstoragelocationidInput" />
    <input type="hidden" id="newstoragelocationidInput" />
    <input type="hidden" id="oldstoragelocationidInput" />
    <input type="hidden" id="partingoingidInput" />
    <input type="hidden" id="partidInput" />
    <input type="hidden" id="partoutgoingidInput" />
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="partnameLabel"></span><span id="partnameOutput"></span></div>
        <div class=inputsingle><span id="oldstoragelocationLabel"></span><div class='contain-unit'><select id="oldstorageidInput" ></select><span id="oldstoragelocationnameOutput"></span></div></div>
        <div class=inputsingle><span id="newstoragelocationnameLabel"></span><div class='contain-unit'><select id="newstorageidInput" ></select><span id="newstoragelocationnameOutput"></span></div></div>
        <div class=inputsingle><span id="countLabel"></span><input type="text" id="countInput" size=4/></div>
        <div class=inputsingle><span id="sequenceLabel"></span><input type="text" id="sequenceInput"></div>
        <div class=inputsingle><span id="fullnameLabel"></span><span id="fullnameOutput"></span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
