<div class='inputhidden'><input type="hidden" id='needtimeInput'/><input type="hidden" id='personidInput'/><input type="hidden" id='loginnameInput'/><input type="hidden" id='vmonthInput'/><input type="hidden" id='vyearInput'/></div>
<div id='tableframe'>
<div class="button docprev" id="prevButton"></div>
<div class="inputarea">
  <div class="inputgroup">
    <div class="inputsingle">
      <span>Name</span> <span>tägliche Arbeitszeit</span> <span>Tag</span> <span>Datum</span> <span>Dauer</span>
    </div>
    <div class="inputsingle">
      <span id="fullnameOutput"></span><span id="wtimeOutput"></span><span id="daynameOutput"></span><span id="vfulldayOutput"></span><span id="durationOutput"></span>
    </div>
  </div>
</div>
<div class="button docnext" id="nextButton"></div>
</div>