<div id='tablefilter' class='tablefilter'>
<input type="hidden" id="orderidInput" />
<div class="inputarea">
    <div class="inputgroup">
      <div class=inputsingle>
        <span id="beginLabel">#mne_lang#Beginn#</span><input type="text" id="startdateInput" />
        <span id="endeLabel">#mne_lang#Ende#</span><input type="text" id="enddateInput">
        <span id="monthselectLabel">#mne_lang#Monatsauswahl#</span><select id="monthInput"></select>
      </div>
      <div class=inputsingle>
        <span id='myLabel'>#mne_lang#meine Zeiten#</span><input type="checkbox" id="myInput" />
        <span id="ordernumberLabel">#mne_lang#Auftrag</span><div><span id="ordernumberOutput"></span> - <span id="orderdescriptionOutput"></span></div>
        <span class='label'></span><span></span>
      </div>
    </div>
  </div>
</div>
<div id="contentTable"></div>
