<div class="inputhidden">
  <input type="hidden" id="orderidInput" />
  <input type="hidden" id="ordernameInput" />
  <input type="hidden" id="xtextInput" />
  <input type="hidden" id="owneridInput" />
  <input type="hidden" id="contactidInput" />
  <input type="hidden" id="refidInput" />
  <input type="hidden" id="refiscompanyInput" />
  <span  id="refidLabel" style="display:none"></span>
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="ordernumberLabel"></span><input type="text" id="ordernumberInput" /></div>
     <div class=inputsingle><span id="descriptionLabel"></span><input type="text" id="descriptionInput"/></div>
     <div class=inputsingle><span id="refnameLink"></span><span id="refnameOutput"></span></div>
     <div class=inputsingle><span id="contactnameLink"></span><span id="contactnameOutput"></span></div>
     <div class=inputsingle><span id="withvatLabel"></span><input type="checkbox" id="withvatInput" /></div>
     <div class=inputsingle><span id="ownernameLabel"></span><span id="ownernameOutput"></span></div>
   </div>
  <div class="inputgroup">
     <div class=inputsingle><span id="openLabel"></span><input type="checkbox" id="openInput" /></div>
     <div class=inputsingle><span id="closedLabel"></span><input type="checkbox" id="closedInput" /></div>
     <div class=inputsingle><span id="colorLabel"></span><input type="text" id="colorInput" class="color" spellcheck="false"/></div>
     <div class=inputsingle><span id="languageLabel"></span><select id="languageInput"></select></div>
     <div class=inputsingle><span id="lumpsumLabel"></span><input type="checkbox" id="lumpsumInput" disabled="disabled" /></div>
     <div class=inputsingle><span></span><span></span></div>
  </div>
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span class="label">zweite Palette</span><input type="checkbox" id="viewCheckbox"/></div>
  </div>
</div>
<div class="inputarea fullheight">
  <div class="inputgroup">
     <div class=inputsingle><span id="textLabel" class="multiheight"></span><span id="textEditor"></span></div>
  </div>
</div>
<div id="modifyinfo" class="inputarea nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

