<div class="inputhidden">
  <input type="hidden" id="orderproductidInput" /> <input type="hidden" id="offerproductidInput" /> <input type="hidden" id="orderidInput" /> <input type="hidden" id="positionInput" /> <input type="hidden" id="withworkingstepInput" /> <input type="hidden" id="xproductdescriptionInput" /> <input type="hidden" id="productcurrencyidInput" /> <input type="hidden" id="productidInput" /> <input type="hidden" id="closedInput" /> <input type="hidden" id="fromofferInput" /> <input type="hidden" id="orderproducttypeInput" /> <input type="hidden" id="timeautoInput" /> <input type="hidden" id="showdeliverInput" /> <input type="hidden" id="productcostrecalcInput" /> <input type="hidden" id="productpricecalcInput" /> <input type="hidden" id="productcostcalcInput" /> <input type="hidden" id="productvatInput" /> <input type="hidden" id="havedeliverynoteInput" />
</div>
<div class="inputarea">
  <div class="inputgroup">
         <div class=inputsingle><span id="productnameLabel"></span><input id="productnameInput" /></div>
          <div class=inputsingle><span id="productnumberLabel"></span><input id="productnumberInput" /></div>
          <div class=inputsingle><span id="readyLabel"></span><input type="checkbox" id="readyInput" /></div>
          <div class=inputsingle><span id="countLabel"></span><input type="text" id="countInput" /></div>
          <div class=inputsingle><span id="actcountLabel"></span><input type="text" id="actcountInput" /></div>
          <div class=inputsingle><span id="productunitLabel"></span><input id="productunitInput" /></div>
          <div class=inputsingle><span id="productpriceLabel"></span><div class='contain-unit'><input id="productpriceInput" /> <span id="currencyOutput"></span></div></div>
          <div class=inputsingle><span id="productcostLabel"></span><div class='contain-unit'><input id="productcostInput" /><span id="costcurrencyOutput"></span></div></div>
   </div>
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span class="label">zweite Palette</span><input type="checkbox" id="viewCheckbox"/></div>
  </div>
</div>
