<div class="inputarea">
  <div class="inputgroup">
    <input type="hidden" id="idInput" />
    <input type="hidden" id="useridInput" />
        <div class=inputsingle><span id="noactiveLabel"></span><input type="checkbox" id="noactiveInput" /></div>
   </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
