<div><input type="hidden" id="productidInput" /><input type="hidden" id="productnameInput" /><input type="hidden" id="productpartidInput" /><input type="hidden" id="partidInput" /><input type="hidden" id="fixturetypeidInput" /></div>
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="partgroupLabel"></span><input type="text" id="partgroupInput"/></div>
        <div class=inputsingle><span id="partdescriptionLabel"></span><input type="text" id="partdescriptionInput"/></div>
        <div class=inputsingle><span id="countLabel"></span><input type="text" id="countInput"/></div>
        <div class=inputsingle><span id="unitLabel"></span><input id="unitInput"/></div>
        <div class=inputsingle><span id="partcostLabel"></span><div class='contain-unit'><input type="text" id="partcostInput"/><span id="partcostcurrencyOutput"></span></div></div>
        <div class=inputsingle><span id="partcostsumLabel"></span><div class='contain-unit'><span id="partcostsumOutput"></span><span id="partcostsumcurrencyOutput"></span></div></div>
   </div>
  <div class="inputgroup">
        <div class=inputsingle><span id="partnameLabel"></span><span id="partnameOutput"></span></div>
        <div class=inputsingle><span id="fixturetypeLabel"></span><span id="fixturetypeOutput"></span></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
