<input type="hidden" id="cityidInput"/>
<input type="hidden" id="addressidInput"/>
<input type="hidden" id="personidInput"/>
<input type="hidden" id="refidInput"/>
<input type="hidden" id="fullnameInput"/>
<input type="hidden" id="owneridInput"/>
<input type="hidden" id="personowndataidInput"/>
<input type="hidden" id="persondataidInput"/>
<input type="hidden" id="personInput"/>
<input type="hidden" id="loginnameInput"/>
<input type="hidden" id="usernameInput" />
<input type="hidden" id="pictureInput" />
<input type="hidden" id="havepictureInput" />
<input type="hidden" id="refidInput" />
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="firstnameLabel"></span><input type="text" id="firstnameInput"/></div>
    <div class=inputsingle><span id="lastnameLabel"></span><input type="text" id="lastnameInput" /></div>
    <div class=inputsingle><span id="sexLabel"></span><input type="checkbox" id="sexInput"></div>
    <div class=inputsingle><span id="sortingLabel"></span><input type="text" id="sortingInput"/></div>
    <div class=inputsingle><span id="streetLabel"></span><input type="text" id="streetInput" /></div>
    <div class=inputsingle><span id="postboxLabel"></span><input type="text" id="postboxInput" /></div>
    <div class=inputsingle><span id="cityLabel"></span><div class="ele-wrapper"><span id="postcodeOutput"></span>&nbsp;<span id="cityOutput"></span></div></div>
    <div class=inputsingle><span id="countryLabel"></span><span id="countryOutput"></span></div>
    <div class=inputsingle><span id="ownernameLabel"></span><span id="ownernameOutput"></span></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="roleLabel"></span><input type="text" id="roleInput" /></div>
    <div class=inputsingle><span id="signLabel"></span><input name="" type="text" id="signInput"/></div>
    <div class=inputsingle><span id="telephonprivLabel"></span><input type="text" id="telephonprivInput"/></div>
    <div class=inputsingle><span id="telephonofficeLabel"></span><input name="" type="text" id="telephonofficeInput"/></div>
    <div class=inputsingle><span id="telephonmobilLabel"></span><input name="" type="text" id="telephonmobilInput"/></div>
    <div class=inputsingle><span id="emailLabel"></span><input name="" type="text" id="emailInput"/></div>
    <div class=inputsingle><span id="httpLabel"></span><input name="" type="text" id="httpInput"/></div>
    <div class=inputsingle><span id="birthdayLabel"></span><input name="" type="text" id="birthdayInput"/></div>
    <div class=inputsingle><span id="languageLabel"></span><select id="languageInput"></select></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="refnameLink"></span><span id="refnameOutput"></span></div>
    <div class=inputsingle aria-height="7"><div id="pictureImage" class='ele-wrapper fullsize' style="background-repeat: no-repeat; background-size: contain; background-position: center"></div></div>
    <div class=inputsingle><span class="label">#mne_lang#Hochladen#</span><input type="file" id="pictureFile" /></div>
   </div>
</div>
