<input type="hidden" id="personowndataidInput" />
<input type="hidden" id="personidInput" />
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="fullnameLabel"></span><span id="fullnameOutput"></span></div>
        <div class=inputsingle><span id="loginnameLabel"></span><input type="text" id="loginnameInput" size="15" /></div>
        <div class=inputsingle><span id="validuntilLabel"></span><input type="text" id="validuntilInput" size="15" /></div>
        <div class=inputsingle><span id="colorLabel"></span><input type="text" id="colorInput" class="color" spellcheck="false"/></div>
  </div>
  <div class="inputgroup">
        <div class=inputsingle><span id="activeLabel"></span><input type="checkbox" id="activeInput"/></div>
        <div class=inputsingle><span id="canloginLabel"></span><input type="checkbox" id="canloginInput"/></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
        <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
  </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
