  <input type="hidden" id="orderidInput" />
    <div class="inputarea">
    <div class="inputgroup">
      <div class=inputsingle><span id="orderdescriptionLabel">#mne_lang#Auftrag</span><div class='ele-wrapper'><span id="ordernumberOutput"></span> - <span id="orderdescriptionOutput"></span></div><span id="importantLabel">#mne_lang#wichtig</span><input type="checkbox" id="importantInput"/></div>
      <div class=inputsingle><span id="commentLabel">#mne_lang#Komentar</span><input type="text" id="commentInput"/><span>&nbsp;</span><span>&nbsp;</span></div>
    </div>
  </div>