<div class="inputhidden"><input type="hidden" id="timeidInput" /><input type="hidden" id="orderidInput" /><input type="hidden" id="startInput" /><input type="hidden" id="durationInput" /></div>
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="ordernumberLabel"></span><span id="ordernumberOutput"></span></div>
        <div class=inputsingle><span id="orderdescriptionLabel"></span><span id="orderdescriptionOutput"></span></div>
        <div class=inputsingle><span id="dateLabel"></span><div class='ele-wrapper'><div class="button docprev" id="prevButton"></div> <span id="dateOutput" ></span> <div class="button docnext" id="nextButton"></div></div></div>
        <div class=inputsingle><span id="clocktimeLabel"></span><input id="clocktimeInput" type="text" size="5"/></div>
        <div class=inputsingle><span id="clocktimeendLabel"></span><input id="clocktimeendInput" type="text" size="5"/></div>
        <div class=inputsingle><span id="weatherLabel"></span><select id="weatherInput"></select></div>
        <div class=inputsingle><span id="temperatureLabel"></span><input id="temperatureInput" type="text" size=3/></div> 
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
