<div class="inputhidden">
  <input type="hidden" id="purchasedeliveryidInput" /><input type="hidden" id="purchaseidInput" /><input type="hidden" id="partidInput" /><input type="hidden" id="partingoingidInput" /><input type="hidden" id="partstoragelocationidInput" /><input type="hidden" id="storagelocationidInput" /><input type="hidden" id="vendoridInput" /><input type="hidden" id="partvendoridInput" />
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="documentnumberLabel"></span><input type="text" id="documentnumberInput" /></div>
    <div class=inputsingle><span id="ordernumberLabel"></span><span id="ordernumberOutput" ></span></div>
    <div class=inputsingle><span id="partnameLabel"></span><span id="partnameOutput"></span></div>
    <div class=inputsingle><span id="countLabel"></span><input type="text" id="countInput" /></div>
    <div class=inputsingle><span id="overwriteLabel"></span><input type="checkbox" id="overwriteInput" /></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="vendornameLabel"></span><span id="vendornameOutput"></span></div>
    <div class=inputsingle><span id="deliverynotenumberLabel"></span><input type="text" id="deliverynotenumberInput" /></div>
    <div class=inputsingle><span id="deliverydateLabel"></span><input type="text" id="deliverydateInput" /></div>
    <div class=inputsingle><span id="packagesizeLabel"></span><span id="packagesizeOutput"></span></div>
    <div class=inputsingle><span id="spackLabel"></span><span id="spackOutput" ></span></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="storageidLabel"></span><select id="storageidInput" ></select></div>
    <div class=inputsingle><span id="storagelocationLabel"></span><span id="storagelocationOutput"></span></div>
    <div class=inputsingle><span id="stockedLabel"></span><span id="stockedOutput"></span></div>
    <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
    <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
