<div class="inputhidden">
  <input type="hidden" id="purchaseidInput" />
  <input type="hidden" id="partidInput" />
  <input type="hidden" id="partvendoridInput" />
  <input type="hidden" id="vendoridInput" />
  <input type="hidden" id="owneridInput" />
  <input type="hidden" id="crmorderidInput" />
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="ordernumberLabel"></span><span id="ordernumberOutput"></span> <span id="autoLabel"></span><span id="autoOutput"></span></div>
    <div class=inputsingle><span id="partnameLabel"></span><span id="partnameOutput"></span></div>
    <div class=inputsingle><span id="expectedLabel"></span><input id="expectedInput"/></div>
    <div class=inputsingle><span id="vendornameLabel"></span><span id="vendornameOutput"></span></div>
    <div class=inputsingle><span id="countLabel"></span><input type="text" id="countInput" size="5"/></div>
    <div class=inputsingle><span id="rescountLabel"></span><span id="rescountOutput"></span></div>
    <div class=inputsingle><span id="vendorordernumberLabel"></span><input type=text id="vendorordernumberInput" /></div>
    <div class=inputsingle><span id="forceLabel"></span><input type="checkbox" id="forceInput" /></div>
 </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="orderdateLabel"></span><span id="orderdateOutput"></span></div>
    <div class=inputsingle><span id="deliverydateLabel"></span><span id="deliverydateOutput"></span></div>
    <div class=inputsingle><span id="packagesizeLabel"></span><span id="packagesizeOutput"></span></div>
    <div class=inputsingle><span id="deliverycountLabel"></span><span id="deliverycountOutput"></span></div>
    <div class=inputsingle><span id="crmordernumberLabel"></span><span id="crmordernumberOutput"></span></div>
    <div class=inputsingle><span id="crmorderLabel"></span><span id="crmorderOutput"></span></div>
    <div class=inputsingle><span id="ownernameLabel"></span><span id="ownernameOutput"></span></div>
    <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

