<input type="hidden" id="purchaseinvoiceidInput" />
<input type="hidden" id="ownaccountInput" />
<input type="hidden" id="companyidInput" />
<input type="hidden" id="payedInput" />
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="documentnumberLabel"></span><input type="text" id="documentnumberInput" /></div>
    <div class=inputsingle><span id="invoicenumberLabel"></span><input type="text" id="invoicenumberInput" /></div>
    <div class=inputsingle><span id="invoicedateLabel"></span><input type="text" id="invoicedateInput" /></div>
    <div class=inputsingle><span id="amountLabel"></span><input type="text" id="amountInput" /></div>
    <div class=inputsingle><span id="companyLabel"></span><span id="companyOutput"></span></div>
    <div class=inputsingle><span id="paytimeLabel"></span><span id="paytimeOutput"></span></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="remitteeLabel"></span><input type="text" id="remitteeInput"  style="width:25em"/></div>
    <div class=inputsingle><span id="accountnumberLabel"></span><input type="text" id="accountnumberInput" /></div>
    <div class=inputsingle><span id="bankcodeLabel"></span><input type="text" id="bankcodeInput" style="width:8em" /></div>
    <div class=inputsingle><span id="purposeLabel"></span><input id="purposeInput" /></div>
    <div class=inputsingle><span id="ownaccountLabel"></span><select id="ownaccountInput"></select></div>
    <div class=inputsingle><span>&nbsp;</span><span>&nbsp;</span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span><span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span><span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

