<div class="inputarea">
  <div class="inputgroup">
    <input type="hidden" id="invoiceidInput" />
    <input type="hidden" id="invoicetimeInput" />
    <input type="hidden" id="refidInput" />
    <input type="hidden" id="orderidInput" />
    <input type="hidden" id="owneridInput" />
    <input type="hidden" id="condidInput" />
    <input type="hidden" id="textidInput" />
    <input type="hidden" id="invoicedescriptionInput" />
    <input type="hidden" id="lumpsumInput"/>
    <div class=inputsingle><span id="numLabel"></span><span id="numOutput"></span></div>
    <div class=inputsingle><span id="descriptionLabel"></span><span id="descriptionOutput"></span></div>
    <div class=inputsingle><span id="ordernumberLink"></span><span id="ordernumberOutput"></span></div>
    <div class=inputsingle><span id="paysumLabel"></span><input id="paysumInput"/></div>
    <div class=inputsingle><span id="paytimeLabel"></span><div class="contain-unit"><span id="paytimeOutput"></span><span>#mne_lang#Tage</span></div></div>
    <div class=inputsingle><span id="dateLabel"></span><span id="dateOutput"></span></div>
</div>
<div class="inputgroup">
    <div class=inputsingle><span id="invoicedLabel"></span><span id="invoicedOutput"></span></div>        
    <div class=inputsingle><span id="paidLabel"></span><span id="paidOutput"></span></div>
    <div class=inputsingle><span id="refnameLabel"></span><span id="refnameOutput"></span></div>
    <div class=inputsingle><span id="textnameLabel"></span><span id="textnameOutput"></span></div>
    <div class=inputsingle><span id="condnameLabel"></span><span id="condnameOutput"></span></div>
    <div class=inputsingle><span id="languageLabel"></span><span id="languageOutput"></span></div>
</div>
<div class="inputgroup">
    <div class=inputsingle><span id="withtimesheetLabel"></span><input type="checkbox" id="withtimesheetInput"/></div>
    <div class=inputsingle><span id="firstreminderLabel" ></span><div class='contain-unit'><span id="firstreminderOutput"></span><span id='firstreminderdateOutput'></span></div></div>
    <div class=inputsingle><span id="secondreminderLabel"></span><div class='contain-unit'><span id="secondreminderOutput"></span><span id='secondreminderdateOutput'></span></div></div>
    <div class=inputsingle><span id="thirdreminderLabel" ></span><div class='contain-unit'><span id="thirdreminderOutput"></span><span id='thirdreminderdateOutput'></span></div></div>
    <div class=inputsingle><span id="ownernameLabel"></span><span id="ownernameOutput"></span></div>
    <div class=inputsingle><span id="orderownernameLabel"></span><span id="orderownernameOutput"></span></div>
   </div>
</div>
