<input type="hidden" id="invoiceautoInput" />
<input type="hidden" id="ntypInput" />
<div class="inputarea">
  <div class="inputgroup">
    <div class="inputsingle">
      <span class="label"><span id="typOutput"></span> <span id="invoiceautoOutput"></span></span><button id="printButton">#mne_lang#Drucken</button>
      <span></span><button style="visibility: hidden;"></button>
    </div>
    <div class="inputsingle">
      <span class="label">#mne_lang#Vorschau Rechnungslauf#</span><button id="autotextButton">#mne_lang#Start#</button>
      <span class="label">#mne_lang#Neuer Rechnungslauf#</span><button id="autostartButton">Start</button>
    </div>
    <div class="inputsingle">
      <span class="label">#mne_lang#Vorschau 1. Mahnung#</span><button id="reminder1openButton">#mne_lang#Start#</button>
      <span class="label">#mne_lang#1. Mahnung#</span><button id="reminder1Button">Start</button>
    </div>
    <div class="inputsingle">
      <span class="label">#mne_lang#Vorschau 2. Mahnung#</span><button id="reminder2openButton">#mne_lang#Start#</button>
      <span class="label">#mne_lang#2. Mahnung#</span><button id="reminder2Button">Start</button>
    </div>
    <div class="inputsingle">
      <span class="label">#mne_lang#Vorschau 3. Mahnung#</span><button id="reminder3openButton">#mne_lang#Start#</button>
      <span class="label">#mne_lang#3. Mahnung#</span><button id="reminder3Button">Start</button>
    </div>
  </div>
</div>

