<div class="inputarea fullheight">
  <div class="inputgroup">
    <input type="hidden" id="invoicecondidInput" />
    <input type="hidden" id="textInput" />
        <div class=inputsingle><span id="categoryLabel"></span><input size="40" type="text" id="categoryInput" /></div>
        <div class=inputsingle><span id="descriptionLabel"></span><input size="60" type="text" id="descriptionInput" /></div>
        <div class=inputsingle><span id="paytimeLabel"></span><div class='contain-unit'><input type="text" id="paytimeInput" /></div> #mne_lang#Tage#</div>
        <div class=inputsingle><span id="editor_label" class="label multiheight">#mne_lang#Text#</span><span id="textEditor" aria-multiline="true"></span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

