<input type="hidden" id="timemanagementidInput" />
<input type="hidden" id="orderproductidInput" />
<input type="hidden" id="orderproducttimeidInput" />
<input type="hidden" id="personidInput" />
<input type="hidden" id="startInput" />
<input type="hidden" id="orderidInput" />
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="descriptionLabel"></span><span id="descriptionOutput"></span></div>
    <div class=inputsingle><span id="productnameLabel"></span><span id="productnameOutput"></span></div>
    <div class=inputsingle><span id="steptextLabel"></span><span id="steptextOutput"></span></div>
    <div class=inputsingle><span id="skilltextLabel"></span><span id="skilltextOutput"></span></div>
    <div class=inputsingle><span id="fullnameLabel"></span><span id="fullnameOutput"></span></div>
    <div class=inputsingle><span id="timetypLabel"></span><select id="timetypInput"></select></div>
    <div class=inputsingle><span id="startdayLabel"></span><input type="text" id="startdayInput" /></div>
    <div class=inputsingle><span id="starttimeLabel"></span><select id="starttimeInput"></select></div>
    <div class=inputsingle><span id="durationLabel"></span><input type="text" id="durationInput" /></div>
    <div class=inputsingle><span id="noteLabel"></span><input type="text" id="noteInput" /></div>
   </div>
</div>
