<input type="hidden" id="addressidInput" />
<input type="hidden" id="cityidInput" />
<input type="hidden" id="companyidInput" />
<input type="hidden" id="owneridInput" />
<input type="hidden" id="companyownidInput" />
 <div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="companyLabel"></span><input style="width: 15em" type="text" id="companyInput" /></div>
    <div class=inputsingle><span id="sortingLabel"></span><input type="text" id="sortingInput" /></div>
    <div class=inputsingle><span id="streetLabel"></span><input style="width: 15em" type="text" id="streetInput" /></div>
    <div class=inputsingle><span id="postboxLabel"></span><input style="width: 15em" type="text" id="postboxInput" /></div>
    <div class=inputsingle><span id="cityLabel"></span><div class='ele-wrapper'><span id="postcodeOutput"></span>&nbsp;<span id="cityOutput"></span></div></div>
    <div class=inputsingle><span id="countryLabel"></span><span id="countryOutput"></span></div>
    <div class=inputsingle><span id="ownernameLabel"></span><span id="ownernameOutput"></span></div>
  </div>
  <div class="inputgroup">
        <div class=inputsingle><span id="categorieLabel"></span><select id="categorieInput"></select></div>
        <div class=inputsingle><span id="telefonLabel"></span><input style="width: 10em" type="text" id="telefonInput" /></div>
        <div class=inputsingle><span id="mobileLabel"></span><input style="width: 10em" type="text" id="mobileInput" /></div>
        <div class=inputsingle><span id="faxLabel"></span><input style="width: 10em" type="text" id="faxInput" /></div>
        <div class=inputsingle><span id="emailLabel"></span><input style="width: 10em" type="text" id="emailInput" /></div>
        <div class=inputsingle><span id="httpLabel"></span><input style="width: 10em" id="httpInput"/></div>
        <div class=inputsingle><span id="languageLabel"></span><select id="languageInput"></select></div>
  </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
