<input type="hidden" id="companyidInput" />
<input type="hidden" id="companyInput" />
<input type="hidden" id="companyownidInput" />
<div class="inputarea">
  <div class="inputgroup">
        <div class="inputsingle"><span id="companyownLabel"></span><span id="companyownOutput"></span></div>
   </div>
</div>
<div class="inputarea">
  <div class="inputgroup">
        <div class=inputsingle><span id="currencyLabel"></span><select id="currencyInput"></select></div>
        <div class=inputsingle><span id="prefixLabel"></span><input type="text" id="prefixInput" /></div>
        <div class=inputsingle><span class='label'>#mne_lang#Überschriftdateien</span><input type='file' id="reportheaderFile"></div>
  </div>
  <div class="inputgroup">
        <div class=inputsingle><span id="bankLabel"></span><input type="text" id="bankInput" /></div>
        <div class=inputsingle><span id="blzLabel"></span><input type="text" id="blzInput" /></div>
        <div class=inputsingle><span id="accountLabel"></span><input type="text" id="accountInput" /></div>
   </div>
</div>
<div class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
