<div class="inputhidden">
    <input type="hidden" id="orderidInput" />
    <input type="hidden" id="orderproductidInput" />
    <input type="hidden" id="orderproductpartidInput" />
    <input type="hidden" id="partidInput" />
    <input type="hidden" id="fixturetypeidInput" />
    <input type="hidden" id="powneridInput" />
</div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="productnameLabel"></span><span id="productnameOutput"></span></div>
    <div class=inputsingle><span id="partgroupLabel"></span><input type="text" id="partgroupInput"/></div>
    <div class=inputsingle><span id="partdescriptionLabel"></span><input type="text" id="partdescriptionInput"/></div>
    <div class=inputsingle><span id="countLabel"></span><input type="text" id="countInput"/></div>
    <div class=inputsingle><span id="actcountLabel"></span><input type="text" id="actcountInput"/></div>
    <div class=inputsingle><span id="unitLabel"></span><input type="text" id="unitInput"/></div>
    <div class=inputsingle><span id="partcostLabel"></span><div class='contain-unit'><input type="text" id="partcostInput"/><span id="partcurrencyOutput"></span></div></div>
    <div class=inputsingle><span id="partcostsumLabel"></span><input type="text" id="partcostsumInput" /></div>
    <div class=inputsingle><span id="pownerLabel"></span><span id="pownerOutput"></span></div>
    <div class="inputsingle spacetop"><span class="label">zweite Palette</span><input type="checkbox" id="viewCheckbox"/></div>
  </div>
  <div class="inputgroup">
    <div class=inputsingle><span id="productcountLabel"></span><span id="productcountOutput"></span></div>
    <div class=inputsingle><span id="partnameLabel"></span><span id="partnameOutput"></span></div>
    <div class=inputsingle><span id="fixturetypeLabel"></span><span id="fixturetypeOutput"></span></div>
    <div class=inputsingle><span id="sumcountLabel"></span><span id="sumcountOutput"></span></div>
    <div class=inputsingle><span></span><span></span></div>
    <div class=inputsingle><span></span><span></span></div>
    <div class=inputsingle><span id="partcostcalcLabel"></span><div class='contain-unit'><input type="text" id="partcostcalcInput"/><span id="partcurrencycalcOutput"></span></div></div>
    <div class=inputsingle><span id="partcostsumcalcLabel"></span><span id="partcostsumcalcOutput"></span></div>
    <div class=inputsingle><span></span><span></span></div>
    <div class="inputsingle spacetop"><span></span><span></span></div>
  </div>
</div>
<div id="modifyinfo" class="inputarea nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

