<div class="inputhidden"><input type="hidden" id="offeridInput"/><input type="hidden" id="offerproducttimeidInput" /><input type="hidden" id="offerproductidInput" /><input type="hidden" id="productoptidInput" /></div>
<div class="inputarea fullheight">
  <div class="inputgroup">
        <div class=inputsingle><span id="productnameLabel"></span><span id="productnameOutput"></span></div>
        <div class=inputsingle><span id="countLabel"></span><span id="countOutput"></span></div>
        <div class=inputsingle><span id="skilltextLabel"></span><select id="skillidInput"></select></div>
        <div class=inputsingle><span id="setdurationLabel"></span><input type="text" id="setdurationInput" /></div>
        <div class=inputsingle><span id="setdurationsumLabel"></span><input type="text" id="setdurationsumInput" /></div>
        <div class=inputsingle><span id="stepLabel"></span><input type="text" id="stepInput" /></div>
        <div class=inputsingle><span id="descriptionLabel"></span><input type="text" id="descriptionInput"/></div>
        <div class=inputsingle><span id="longdescLabel"></span><span id="longdescEditor"></span></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

