<div>
  <input type="hidden" id="productidInput" /><input type="hidden" id="productpriceidInput" /><input type="hidden" id="treeparentidInput"/><input type="hidden" id="xdescriptionInput"/><input type="hidden" id="withworkingstepInput"/>
</div>
<div class="inputarea">
  <div class="inputgroup">
     <div class=inputsingle><span id="treeparentnameLabel"></span><span id="treepathOutput"></span></div>
     <div class=inputsingle><span id="nameLabel"></span><input type="text" id="nameInput" size=30/></div>
     <div class=inputsingle><span id="productnumberLabel"></span><input style='width:5em' type="text" id="productnumberInput" /></div>
   </div>
</div>
<div class="inputarea resizeit">
  <div class="inputgroup">
    <div class=inputsingle><span class="label">zweite Palette</span><input type="checkbox" id="viewCheckbox"/></div>
  </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>