<div><input type="hidden" id="productpriceidInput" /><input type="hidden" id="productidInput" /><input type="hidden" id="currencyidInput" /></div>
<div class="inputarea">
  <div class="inputgroup">
    <div class=inputsingle><span id="unitLabel"></span><input id="unitInput" /></div>
    <div class=inputsingle><span id="unitpriceLabel"></span><div class="contain-unit"><input id="unitpriceInput"/><span id="currencyOutput"></span></div></div>
    <div class=inputsingle><span id="unitcostLabel"></span><div class="contain-unit"><input id="unitcostInput" /><span id="costcurrencyOutput" ></span></div></div>
    <div class=inputsingle><span id="vatLabel"></span><div class="contain-unit"><input id="vatInput" /><span>%</span></div></div>
    <div class=inputsingle><span id="resultvatLabel"></span><div class="contain-unit"><span id="resultvatOutput" ></span><span>%</span></div></div>
   </div>
</div>
<div id="modifyinfo" class="inputarea resizeit nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>


