<div class="inputarea">
  <div class="inputgroup">
    <input type="hidden" id="feeextraidInput" />
    <input type="hidden" id="productidInput" />
    <input type="hidden" id="yearInput"/>
    <input type="hidden" id="lawInput"/>
        <div class=inputsingle><span id="lawnameLabel"></span><span id="lawnameOutput"></span></div>
        <div class=inputsingle><span id="nameLabel"></span><select id="nameInput" ></select></div>
        <div class=inputsingle><span id="productnameLabel"></span><input type="text" id="productnameInput" /></div>
        <div class=inputsingle><span id="vproductnumberLabel"></span><span id="vproductnumberOutput"></span></div>
        <div class=inputsingle><span id="productnumberLabel"></span><input id="productnumberInput" /></div>
   </div>
</div>
<div class="inputarea resize nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>

