<input type="hidden" id="lawInput" />
<input type="hidden" id="productid1Input" />
<input type="hidden" id="productid2Input" />
<input type="hidden" id="productid3Input" />
<input type="hidden" id="productid4Input" />
<input type="hidden" id="productid5Input" />
<input type="hidden" id="productid6Input" />
<input type="hidden" id="productid7Input" />
<input type="hidden" id="productid8Input" />
<input type="hidden" id="productid9Input" />
<div class="inputarea">
  <div class="inputgroup">
    <table class='border padding relative'>
      <thead>
      <tr>
        <td><span id="lawnameLabel"> </span></td>
        <td colspan="4"><span id="lawnameOutput"> </span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>#mne_lang#Name#</td>
        <td>#mne_lang#Wert#</td>
        <td>#mne_lang#Vorlageprodukt#</td>
        <td>#mne_lang#Produktnummer#</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><span > 1.</span></td>
        <td><input type="text" id="phasename1Input" style="width: 30em"/></td>
        <td><input type="text" id="value1Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber1Output"> </span></td>
        <td><input type="text" id="oproductnumber1Input"  style="width: 5em"/></td>
        
      </tr>
      <tr>
        <td><span > 2.</span></td>
        <td><input type="text" id="phasename2Input"  style="width: 30em"/></td>
        <td><input type="text" id="value2Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber2Output"> </span></td>
        <td><input type="text" id="oproductnumber2Input"  style="width: 5em"/></td>
      </tr>
      <tr>
        <td><span > 3.</span></td>
        <td><input type="text" id="phasename3Input"  style="width: 30em"/></td>
        <td><input type="text" id="value3Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber3Output"> </span></td>
        <td><input type="text" id="oproductnumber3Input"  style="width: 5em"/></td>
      </tr>
      <tr>
        <td><span > 4.</span></td>
        <td><input type="text" id="phasename4Input"  style="width: 30em"/></td>
        <td><input type="text" id="value4Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber4Output"> </span></td>
        <td><input type="text" id="oproductnumber4Input"  style="width: 5em"/></td>
      </tr>
      <tr>
        <td><span > 5.</span></td>
        <td><input type="text" id="phasename5Input"  style="width: 30em"/></td>
        <td><input type="text" id="value5Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber5Output"> </span></td>
        <td><input type="text" id="oproductnumber5Input"  style="width: 5em"/></td>
      </tr>
      <tr>
        <td><span > 6.</span></td>
        <td><input type="text" id="phasename6Input"  style="width: 30em"/></td>
        <td><input type="text" id="value6Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber6Output"> </span></td>
        <td><input type="text" id="oproductnumber6Input"  style="width: 5em"/></td>
      </tr>
      <tr>
        <td><span > 7.</span></td>
        <td><input type="text" id="phasename7Input"  style="width: 30em"/></td>
        <td><input type="text" id="value7Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber7Output"> </span></td>
        <td><input type="text" id="oproductnumber7Input"  style="width: 5em"/></td>
      </tr>
      <tr>
        <td><span > 8.</span></td>
        <td><input type="text" id="phasename8Input"  style="width: 30em"/></td>
        <td><input type="text" id="value8Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber8Output"> </span></td>
        <td><input type="text" id="oproductnumber8Input"  style="width: 5em"/></td>
      </tr>
      <tr>
        <td><span > 9.</span></td>
        <td><input type="text" id="phasename9Input"  style="width: 30em"/></td>
        <td><input type="text" id="value9Input"  style="width: 3em"/> %</td>
        <td><span  id="productnumber9Output"> </span></td>
        <td><input type="text" id="oproductnumber9Input"  style="width: 5em"/></td>
      </tr>
      </tbody>
    </table>
    </div>
    </div>
    
<div class="inputarea resize nomobile">
  <div class="inputgroup">
    <div class=inputsingle><span id="createdateLabel"></span> <span id="createdateOutput"></span>
    <span id="createuserLabel"></span> <span id="createuserOutput"></span></div>
    <div class=inputsingle><span id="modifydateLabel"></span> <span id="modifydateOutput"></span>
    <span id="modifyuserLabel"></span> <span id="modifyuserOutput"></span></div>
  </div>
</div>
