<!DOCTYPE html>
<html lang="de-DE">
<head>

<base href="#mne_base#">

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Nelson technische Informatik</title>
<link rel="shortcut icon" href="main/login/favicon.ico" type="image/x-icon">

<script type="text/javascript">
  window.mne_application = '####Appl####';
  window.mne_title = 'ERP - Nelson technische Informatik';
</script>
<script type="module" src='winload.mjs' crossorigin="use-credentials"></script>
<body><div id="mainwindow"></div></body>
</html>
